@font-face{
  font-family: 'Labtop';
  src: url('../fonts/LABTOP__.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#back {
  background: url('../img/back.png') no-repeat center;
  float: left;
  height: 55px;
  margin: 0.5em auto auto 0.5em;
  width: 117px;
}

.ui-body-c, .ui-overlay-c { background:#FFF; }
.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button {
    font-family: 'Labtop';
}

body{
  font-family: 'Labtop';
  font-size: 30px;
  height: 960px;
  width: 640px;
}

.centrado_horizontal {
  width: 100%;
  margin: auto;
  text-align: center;
}

nav {
  background: url('../img/logo.png') no-repeat center;
	background-size: 230px 81px;
  height: 2.5em;
  width: 100%;
}

#shopping {
  background: url('../img/carrito.png') no-repeat center;
  float: right;
  height: 55px;
  margin: 0.5em 1em auto auto;
  width: 117px;
}

#titulo_nav{ }

#titulo_nav img {
  display: inline-block;
}

#titulo_nav nav {
  display: inline-block;
}

/*paquetes*/

.btn_next{
  background: url('../img/btn_next.png');
  float: right;
  height: 65px;
  width: 76px;
}

.btn_prev{
  background: url('../img/btn_prev.png');
  float: left;
  height: 65px;
  width: 76px;
}

.btn_agregar{
  background: url('../img/btn_agregar.png') no-repeat center;
  height: 89px;
  width: 194px;
  float: right;
  margin-top: 0.8em;
}

#paquete{
  background: url('../img/paquete_2.png') no-repeat center;
  height: 672px;
}
#paquete a{
  display: inline-block;
}

#descripcion{
  padding-right: 1em;
  padding-left: 1em;
  height: 100%;
}

#descripcion p, a {
  display: inline-block;
  vertical-align: top;
}

#paquete_id {
  font-size: 1.5em;
}

#precio{
  font-size: 1.2em;
  color: #6A6A6A;
  margin: 1.4em auto auto 3.8em;
}

.detalles{
  text-align: center;
  height: 450px;
  padding-top: 3em;
}
.detalles ul{
  height: 100%;
}
.detalles li{
  list-style: none;
}

/* galeria */

h1 {
  margin: .4em auto;
  text-align: center;
  width: 100%;
}

.lugar {
  margin: 0.2em 2.3em;
}

h3 {
  margin: 0;
}

/* beneficios */
.subtitle {
  margin: auto 2.3em 0.5em;
}

.promociones {}
.promociones img {
  width: 310px;
}

/* contacto */
#contacto{
  text-align: center;
}

#telefono{
  margin: auto auto auto 1em;
  width: 524px;
}

.btn_llamar{
  background: url('../img/btn_llamar.png') no-repeat center;
  height: 94px;
  width: 206px;
}

.btn_envia_mensaje{
  background: url('../img/btn_envia_mensaje.png') no-repeat center;
  height: 90px;
  width: 290px;
}
